*{
    box-sizing: border-box;
    margin: 0;
}


:root{

    /* The colour palette I produced for this experiment was based on sunset colour. The colours are both appealing to the eye and have a sense of warmth and satisfaction from the complimentary colours. I used Adobe Colour and Colour Designer.io to construct this palette. */
    --colour-one: #54246B;
    --colour-two: #FF7C61;
    --colour-three: #F0869D;
    --colour-four: #ffffff;
    --border-one: solid 7px #54246B;
    --border-two: double 9px #ffffff;
    --border-three: solid 7px #f88169;
    
}

.grid-item-one{
border-radius: 20px;
}

/* As the background was a gradient ranging from a peach orange to purple. I used the WebAIM Colour Contrast checker to see which border colour would best suite the background.*/

#grid-container-bg{
    background: linear-gradient(#FF7C61,#54246B);
    width: 71vh;
    height: 100vh;
     /*width: 100vw;
    height: 177vw;*/
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(30,1fr);
    grid-template-rows: repeat(30,1fr);
}


/* As the Grid-Template Column/Row we got given initially was too bulky, I adjusted the settings to make it 30 x 30, so I had more control over the visual styling layout. By establishing smaller boxes of the same fraction, I was able to have more control to accurately represent the distances and individual elements of each of the boxes. */

/* For the box construction method, I chose to use the functions of 'grid-column/row-start/end'  to illustrate my layout. This was easier for me as I had more control over the starting and ending point. Initially, I found the method we learned during the lecture quite confusing to use, as when I placed the dimensions I wanted, the box would be positioned at a different location. This made it stressful to start the actual design process, allowing it to be more time-consuming. By reading the MDN Grid Basics reading, I was able to find a sufficient alternative that would help me reach my outcome with more authority and ease. */

#box-one{
    grid-column-start:2 ;
    grid-column-end: 13 ;
    grid-row-start: 2;
    grid-row-end: 12 ;
    border:var(--border-one);
}

#box-two{
    grid-column-start: 14 ;
    grid-column-end: 30 ;
    grid-row-start: 2;
    grid-row-end: 8 ; 
    border:var(--border-one);

}

#box-three{
    grid-column-start: 14 ;
    grid-column-end: 30 ;
    grid-row-start: 9;
    grid-row-end: 12 ; 
    border:var(--border-two);
}

#box-four{
    grid-column-start: 2 ;
    grid-column-end: 8 ;
    grid-row-start: 13;
    grid-row-end: 21 ; 
    border:var(--border-two)
}

#box-five{
    grid-column-start: 9 ;
    grid-column-end: 24 ;
    grid-row-start: 13 ;
    grid-row-end: 21 ; 
    border:var(--border-three)
}

#box-six{
    grid-column-start: 25 ;
    grid-column-end: 30 ;
    grid-row-start: 13 ;
    grid-row-end: 21 ; 
    border:var(--border-two)
}

#box-seven{
    grid-column-start: 2 ;
    grid-column-end: 30 ;
    grid-row-start: 22 ;
    grid-row-end: 30 ; 
    border:var(--border-three)
}

