
  body {
    background-color:#6B3F8B;
    font-family: 'Montserrat Alternates', sans-serif;
 
  }

  h1{
    display: block;
    color:#B99FCB;
    text-align: center;
    font-weight: 800;
    font-size: 100px;
    font-display: center;
    line-height: 200px;
    font-family: sans-serif;
    font-style:unset;

  }

  .ParallaxContainer{
    background-color: #6B3F8B;
      min-height: 400px;
      text-align: center;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  #orb{
    width: 1000px;
    border: 10px solid #73537c; 
    border-radius: 40px; 
  }

  

   #orby{
     width: 290px;
     border:solid #7e5d95 10px;
     border-radius: 20px; 
   }

   #cursor{
     width:50px;
   }